@import 'var';
@import 'mixin';
@import 'placeholder';

.toggleButton {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;

  input[type='checkbox'] {
    appearance: none;
    position: relative;
    border: max(2px, 0.1em) solid var(--liveuta-title-color);
    border-radius: 1.5em;
    width: 2.5em;
    height: 1.25em;
    cursor: pointer;
    background-color: var(--liveuta-header-color);

    &:before {
      content: '';
      position: absolute;
      left: 0;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      transform: scale(0.75);
      background-color: var(--liveuta-title-color);
      transition: left 250ms linear;
    }

    &:checked {
      &:before {
        left: 1.25em;
      }
    }

    &:disabled {
      border-color: lightgray;
      opacity: 0.7;
      cursor: not-allowed;

      &:before {
        background-color: lightgray;
      }

      & + span {
        opacity: 0.7;
        cursor: not-allowed;
      }
    }

    &:focus-visible {
      outline-offset: max(2px, 0.1em);
      outline: max(2px, 0.1em) solid tomato;
    }
  }
}
