.position {
  height: 3.5rem; //  높이 고정
  position: relative;
  z-index: 1;

  .inner {
    position: fixed;
    top: calc(3.5rem + env(safe-area-inset-top)); // 회피영역
    width: 100%;
    transform: translateZ(0); // GPU 가속

    @include util.min-width(sm) {
      position: relative;
      top: unset;
    }
  }
}

.skeleton {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}