.wrap {
  display: flex;
  padding: 0.5rem;
  gap: 0.5rem;
  justify-content: space-between;
}

.left {
  display: flex;
  gap: 0.5rem;
  transform: translateZ(0);
}

.navTabBox {
  display: none;

  @include util.min-width(sm) {
    display: block;
  }
}

:global(#{var.$theme-light-selector}) .multiLink {
  color: var(--mantine-color-gray-7);
}

:global(#{var.$theme-dark-selector}) .multiLink {
  color: var(--mantine-color-text);
}

.right {
  display: flex;
  gap: 0.5rem;
}

.mobileNavBtn {
  padding: 0 0.5rem;
  height: 2.5rem;


}

.select {
  display: none;

  @include util.min-width(var.$mobile-boundary) {
    display: block;
  }
}

button.topBtn {
  z-index: 1;
  background-color: var(--liveuta-main);
  border-radius: 9999px;
  position: fixed;
  box-shadow: var.$box-shadow;
  right: 0.5rem;
  bottom: calc(0.5rem + env(safe-area-inset-bottom));

  @include util.min-width(md) {
    right: 3.5rem;
    bottom: calc(3.5rem + env(safe-area-inset-bottom));
  }
}