.wrap {
  width: 100%;
  z-index: 49;

  @include util.min-width(xs) {
    width: 50%;
    padding: 0.5rem;
  }

  @include util.min-width(sm) {
    width: 33.33%;
  }

  @include util.min-width(md) {
    width: 25%;
  }

  @include util.min-width(xl) {
    width: 20%;
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0.25rem;
    padding: 0.25rem;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 2px 3px 0 rgba(50, 50, 50, 0.75);
    container-type: inline-size;
    z-index: 49;


    .image {
      aspect-ratio: 16 / 9;
      padding: 0;
      border-radius: 5px;

      @include util.min-width(xs) {
        flex: 1;
        width: 100%;
      }
    }

    .titleBox {
      padding-block-end: 1rem;

      @include util.min-width(xs) {
        padding-block-end: 1.4rem;
      }

      .title {
        width: 70%;
        height: 1rem;

        @include util.min-width(sm) {
          height: 1.4rem;
        }
      }
    }

    .descBox {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      margin-bottom: 1rem;

      .desc1 {
        width: 100%;
        height: 1rem;
      }

      .desc2 {
        width: 40%;
        height: 1rem;
      }
    }

    .footerBox {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .footer1 {
        width: 45%;
        height: 1rem;
      }

      .status {
        display: flex;
        gap: 0.125rem;
        color: #fa8072;
        z-index: 50;

        .statusSvg {
          @include util.min-width(sm) {
            width: 1rem;
            height: 1rem;
          }
        }

        .footer2 {
          width: 3ch;
          height: 1rem;
        }
      }
    }
  }
}