.expand {
  flex: 1;
  display: flex;
}

.vertuso {
  width: 100%;
  height: auto !important; // 요소의 높이를 추론할 수 있도록 설정

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .item {
    padding: 0.5rem;
    width: 100%;
    position: relative;

    @include util.min-width(sm) {
      width: 50%;
    }

    @include util.min-width(md) {
      width: 33.33%;
    }

    @include util.min-width(lg) {
      width: 25%;
    }

    @include util.min-width(100em) {
      width: 20%;
    }
  }
}

.nodataLinkBox {
  @extend %flex-center;
}
