@use "sass:map";

$nav-max-width: 250px;
$nav-min-width: 32px;

.wrapper {
  width: $nav-max-width;
  transition: width 0.5s ease;
}

.wrapper[data-active="false"]{
  width: $nav-min-width;
  flex-shrink: 0;
}

.position {
  position: fixed;
  width: $nav-max-width;
  top: var.$safe-header-height;
  bottom: 0;
  background-color: util.palette(first, 95);
  padding: 5px;
  display: flex;
  flex-direction: column;
  padding-bottom: var.$safe-footer-height;
}

.header {
  display: flex;
  justify-content: space-between;

  .headerLeft {
    display: flex;
    align-items: center;
  }

  .headerRight {
    display: flex;
    align-items: center;
    gap: 5px;
  }
}

.urlInputBox {
  margin-bottom: 10px;
  padding: 10px 0;
}

.content {
  flex: 1;
  overflow-y: auto;
  font-size: 0.85rem;
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  &:global(.loading) {
    justify-content: center;
    align-items: center;
  }

  &::-webkit-scrollbar{
    width: 5px;
  }
}

.listItem {
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.5s ease;

  &:hover {
    background-color: rgba(0, 0, 0, 0.04);
  }

  time {
    color: map.get(var.$colors, dimmed);
  }

  .title {
    margin: 0;
    @include util.line-clamp(2);
  }
}

@include util.dark { 
  .listItem:hover {
    background-color: rgba(255, 255, 255, 0.05);
  }
}

.listItemHeader {
  display: flex;
  align-items: center;
  margin-bottom: 10px;

  .listItemHeaderLeft {
    flex: 1;
    display: flex;
    align-items: center;

    :global(.app-Avatar-root) {
      margin-right: 10px;
    }

    .channelName {
      font-size: 1rem;
      font-weight: 500;
      color:  util.palette(third, default);
    }

    .line {
      display: block;
    }
  }

  .listItemHeaderRight {

  }
}
