.wrap {
  width: 100%;
  max-width: 450px;
  margin: 0 auto;
  margin-block-start: 3.5rem;
  padding: 1rem;

}

.inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 2rem;
  border-radius: 10px;
  box-shadow: var.$box-shadow;
  background-color: rgba(200, 200, 200, 0.2);
}

.imgBox {
  width: 100%;
  margin: 1rem auto;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.buttonBox {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block-start: 1rem;
  color: #000;
}

.resendBox {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.messageBox {
  margin-top: 2rem;

  p {
    font-size: 0.85rem;
    text-align: center;
    line-height: 1.2rem;
    font-weight: 500;
    word-break: keep-all;
  }
}