@import 'var';
@import 'mixin';
@import 'placeholder';

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  visibility: hidden;
  width: 100%;
  @include transition(all, 0.3s, linear);

  &.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .sidebar {
    position: absolute;
    background-color: #ffd7de;
    width: 18rem;
    top: 0;
    bottom: 0;
    left: -18rem;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    @include transition(transform, 0.3s, linear);

    &.show {
      transform: translateX(100%);
    }

    ul {
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li {
        h1 {
          display: flex;
          align-items: center;
          font-size: 1.5rem;
          font-weight: 600;
        }

        a {
          button {
            &:hover:not(&.active) {
              color: map-get($colors, light-font);
            }
          }
        }
      }
    }

    .close {
      position: absolute;
      display: flex;
      top: 0;
      right: 0;
      padding: 0 0.1rem;
      transform: translateX(-50%) translateY(30%);
      color: map-get($colors, light-font);

      &:hover {
        color: map-get($colors, salmon);
      }
    }
  }
}
