.wrap {
  margin-block-end: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.mobileSidebarToggleWrap {
  display: flex;
  align-items: center;

  @include util.min-width(var.$mobile-boundary) {
    display: none;
    visibility: hidden;
  }
}
