@import 'var';
@import 'mixin';
@import 'placeholder';

.blank {
  height: 3.5rem;
}

.nav {
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 20rem;
  position: fixed;
  z-index: 100;
  background-color: map-get($colors, main);
  @include transition(opacity, 0.2s, linear);
  @include box-shadow(true);

  @include max-width($mixin-large-width) {
    opacity: 1 !important;
  }

  &:hover {
    opacity: 1 !important;
  }

  ul {
    margin: auto;
    max-width: $mixin-2xl-width;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: map-get($colors, light-font);

    .sidebar {
      margin-left: 1rem;

      button {
        border-radius: 10px;
        text-align: center;
        padding: 0.3rem 1.2rem;
        background-color: map-get($colors, salmon);
        @include box-shadow();
        cursor: pointer;

        &:hover {
          background-color: map-get($colors, hover-salmon);
        }

        &:active {
          background-color: map-get($colors, hover-salmon);
        }
      }

      @include min-width($mixin-large-width) {
        margin-left: 1.5rem;
      }
      @include min-width($mixin-xl-width) {
        margin-left: 2rem;
      }
      @include max-width($mixin-middle-width) {
        margin-left: 0.4rem;
      }
    }

    .title {
      font-size: 2rem;
      color: map-get($colors, light-font);
      font-weight: 600;
      a {
        @include text-line(1, 2.2rem);
      }
    }

    .form_link {
      margin-right: 1rem;
      @include transition(background-color, 80ms, $bezier-curve);

      a {
        padding: 0.4rem 0.8rem;
        border-radius: 10px;
        padding: 0.3rem 1.2rem;
        background-color: map-get($colors, salmon);
        text-align: center;
        line-height: 1;
        color: map-get($colors, light-font);
        @include box-shadow();

        &:hover {
          background-color: map-get($colors, hover-salmon);
        }

        &:active {
          background-color: map-get($colors, hover-salmon);
        }
      }

      @include min-width($mixin-large-width) {
        margin-right: 1.5rem;
      }
      @include min-width($mixin-xl-width) {
        margin-right: 2rem;
      }
      @include max-width($mixin-middle-width) {
        margin-right: 0.4rem;
      }
    }
  }
}
