@import 'var';
@import 'mixin';
@import 'placeholder';

.blank {
  height: 3.5rem;
}

.nav {
  margin: 0;
  padding: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  min-width: 20rem;
  position: fixed;
  z-index: 100;
  background-color: map-get($colors, main);
  @include transition(opacity, 0.2s, linear);
  @include box-shadow(true);

  @include max-width($mixin-large-width) {
    opacity: 1 !important;
  }

  &:hover {
    opacity: 1 !important;
  }

  ul {
    margin: auto;
    max-width: $mixin-2xl-width;
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: map-get($colors, light-font);

    .sidebar {
      margin-left: 1rem;

      button {
        display: flex;
        padding: 0.2rem 0.3rem;
        border-radius: 5px;

        &:hover {
          background-color: rgba(0, 0, 0, 0.3);
        }
      }

      @include min-width($mixin-large-width) {
        margin-left: 1.5rem;
      }
      @include min-width($mixin-xl-width) {
        margin-left: 2rem;
      }
      @include max-width($mixin-middle-width) {
        margin-left: 0.4rem;
      }
    }

    .title {
      font-size: 2rem;
      color: map-get($colors, light-font);
      font-weight: 600;
      a {
        @include text-line(1, 2.2rem);
      }
    }

    .search {
      margin-right: 1rem;
      @include transition(background-color, 80ms, $bezier-curve);

      a {
        button {
          display: flex;
          border-radius: 10px;
          padding: 0.5rem 0.7rem;
          background-color: map-get($colors, salmon);
          color: map-get($colors, light-font);
          @include transition(background-color, 80ms, $bezier-curve);
          @include box-shadow();

          &:hover {
            background-color: map-get($colors, hover-salmon);
          }

          &:active {
            background-color: map-get($colors, hover-salmon);
          }
        }
      }

      @include min-width($mixin-large-width) {
        margin-right: 1.5rem;
      }
      @include min-width($mixin-xl-width) {
        margin-right: 2rem;
      }
      @include max-width($mixin-middle-width) {
        margin-right: 0.4rem;
      }
    }
  }
}
