@import 'var';
@import 'mixin';
@import 'placeholder';

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  @include transition(all, 0.3s, linear);

  &.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .sidebar {
    position: relative;
    background-color: #ffd7de;
    width: 18rem;
    height: 100%;
    left: -18rem;
    @include transition(transform, 0.3s, linear);

    &.show {
      transform: translateX(100%);
    }

    ul {
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      li {
        h1 {
          font-size: 1.5rem;
          font-weight: 600;
        }

        &:hover {
          color: map-get($colors, light-font);
        }

        &:not(:first-child) {
          font-size: 1.2rem;
          padding-left: 1rem;
        }
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(-50%) translateY(30%);
      color: map-get($colors, light-font);

      &:hover {
        color: map-get($colors, salmon);
      }
    }
  }
}
