@import 'mixin';
@import 'var';
@import 'placeholder';

%section-layout {
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

%section-header {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: auto;

  span {
    font-weight: 500;
  }
}

.main {
  @extend %home-main;
  padding: 0.5rem;
  gap: 2rem;
  width: 100%;

  .search-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    @include min-width($mixin-large-width) {
      gap: 0.5rem;
    }

    div:nth-child(1) {
      width: 100%;
      margin: auto;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      height: 5rem;
      padding: 0.5rem;

      @include min-width($mixin-large-width) {
        height: 8rem;
      }

      form {
        margin: auto;
        position: relative;
        label:nth-of-type(1) {
          display: none;
        }

        input {
          width: 20rem;
          position: relative;
          font-family: inherit;
          padding: 0 2rem;
          height: 3.5rem;
          border-radius: 30px;
          border: none;
          @include box-shadow();

          @include min-width($mixin-large-width) {
            font-size: 1.25rem;
            height: 4rem;
          }

          &:focus {
            outline: none;
          }

          &::placeholder {
            font-family: inherit;
            font-size: 1.25rem;
            display: none;
          }
        }

        label:nth-of-type(2) {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          right: 4.5rem;
          display: flex;
          border-radius: 100%;
          &:hover {
            background-color: rgba(0, 0, 0, 0.2);
          }
        }

        button[type='submit'] {
          position: absolute;
          right: 1.5rem;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          padding: 0.5rem;
          border-radius: 100%;
          background-color: map-get($colors, salmon);
          color: map-get($colors, light-font);
          @include transition(background-color, 80ms, $bezier-curve);
          @include box-shadow();

          &:hover {
            background-color: map-get($colors, hover-salmon);
          }
        }

        p {
          position: absolute;
          bottom: 0;
          transform: translateY(-50%);
          left: 2rem;
          color: #b10a0a;

          &:before {
            content: '* ';
          }
        }
      }
    }
    .result > p {
      word-break: keep-all;
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      background-color: map-get($colors, card-bg);
      padding: 2rem 7rem;
      border-radius: 10px;
      @include box-shadow();
    }
  }

  .content-section {
    @extend %section-layout;

    & > div {
      @extend %section-header;
    }

    section {
      @extend %home-contents-section;
    }
  }

  .channel-section {
    @extend %section-layout;

    & > div {
      @extend %section-header;
    }

    section {
      @extend %channels-channel-section;
    }
  }
}
