@import 'mixin';
@import 'var';
@import 'placeholder';

.main {
  width: 100%;

  @include min-width($mixin-2xl-width) {
    width: 80%;
  }

  .search-section {
    background-color: map-get($colors, bg);
    form {
      max-width: 30rem;
      width: 80%;
      margin: auto;
      position: relative;
      display: flex;
      align-items: center;
      justify-self: center;
      gap: 1rem;
      height: 7rem;
      padding: 1rem;

      label:nth-of-type(1) {
        display: none;
      }

      input {
        font-family: inherit;
        padding: 0 2rem;
        height: 3rem;
        flex: 2;
        font-size: 1.5rem;
        border-radius: 30px;
        border: none;
        @include box-shadow();

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-family: inherit;
          font-size: 1.3rem;
        }
      }

      label:nth-of-type(2) {
        position: absolute;
        right: 4.5rem;
        display: flex;
        border-radius: 100%;
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      button[type='submit'] {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        padding: 0.5rem;
        border-radius: 100%;
        background-color: map-get($colors, salmon);
        color: map-get($colors, light-font);
        @include transition(background-color, 80ms, $bezier-curve);
        @include box-shadow();

        &:hover {
          background-color: map-get($colors, hover-salmon);
        }
      }

      p {
        position: absolute;
        bottom: 0;
        transform: translateY(-50%);
        left: 2rem;
        color: #b10a0a;

        &:before {
          content: '* ';
        }
      }
    }
  }
}
