@import 'var';
@import 'mixin';
@import 'placeholder';

.wrap {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  max-width: 100%;
  font-size: inherit;
  overflow-x: scroll;
  overflow-y: hidden;
  scrollbar-width: none; //firefox

  &::-webkit-scrollbar {
    height: 3px;
    cursor: pointer;
  }

  > div {
    min-width: 100%;
  }
}
