@import 'var';
@import 'mixin';
@import 'placeholder';

.blank {
  height: 3.5rem;
  padding-top: env(safe-area-inset-top);
}

.inner {
  margin: 0;
  padding-top: env(safe-area-inset-top);
  top: 0px;
  left: 0px;
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--liveuta-header-color);
  @include transition(opacity, 0.2s, linear);
  @include box-shadow(true);

  @include max-width(map-get($points, md)) {
    opacity: 1 !important;
  }

  &:hover {
    opacity: 1 !important;
  }

  nav {
    margin: auto;
    max-width: map-get($points, 2xl);
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: map-get($colors, light-font);
    max-width: 1400px;
    padding: 0 0.5rem;

    @include min-width(map-get($points, md)) {
      padding: 0 1.5rem;
    }

    .hamburger {
      display: flex;
      padding: 0.2rem 0.3rem;
      border-radius: 5px;
      @include transition(background-color, 80ms, $bezier-curve);

      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }

      @include min-width(map-get($points, md)) {
        display: none !important;
      }
    }

    .title {
      font-size: 2rem;
      color: var(--liveuta-title-color);
      font-weight: 600;
      @include text-line(1, 2.2rem);
    }

    .navigation {
      display: flex;
      gap: 1rem;

      .search {
        border-radius: 10px;
        padding: 0.5rem 0.7rem;
        background-color: var(--liveuta-active-color);
        @include transition(background-color, 80ms, $bezier-curve);
        @include box-shadow();

        &:hover {
          background-color: var(--liveuta-hover-color);
        }
      }
    }
  }
}
