.wrap {
  height: 30rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 20rem;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;

  &:hover {
    background-color: util.palette(first, lighter);
  }
}

@include util.min-width(md) {
  .row {
    width: 20rem;
  }
}

.channelBox {
  display: flex;
  align-items: center;
}

.text {
  @include util.line-clamp(1);
}