@use 'sass:math';

$closed-color: #d8f2ff;
$stream-color: #fcefc7;

$active-color1: #fa8072;
$active-color2: #e06e61;

%card-base {
  width: 100%;
  height: 100%;
}

.card {
  @extend %card-base;
  position: relative;
  box-shadow: 1px 2px 3px 0 rgba(50, 50, 50, 0.75);
  display: flex;
  padding: 0.25rem;
  gap: 0.25rem;
  background-color: #fff;
  border-radius: 5px;
  color: #000000;

  // block 효과를 위한 설정
  transform-style: preserve-3d;
  transform-origin: center;
  transition: all 1s #{var.$bezier-curve};

  @include util.min-width(sm) {
    flex-direction: column;
  }

  &:hover {
    transform: scale(1.01);
  }

  &:global(.close) {
    background-color: $closed-color;
  }

  &:global(.stream) {
    background-color: $stream-color;
  }

  &:global(.block) {
    @include util.min-width(md) {
      transform: rotateY(-180deg);
    }

    & > * {
      visibility: hidden;
    }

    &::after {
      @extend %flex-center;
      content: 'BLOCKED';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      font-weight: 600;
      background-color: var.$backdrop-color;

      @include util.min-width(md) {
        transform: rotateY(180deg);
      }
    }
  }

  & > :global(.mantine-ActionIcon-root) {
    --ai-size: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-25%, 25%);

    @include util.min-width(sm) {
      --ai-size: 1.5rem;
    }
  }
}

.imgBtn {
  width: 150px;
  flex: 0 0 150px;

  @include util.min-width(sm) {
    flex: 1;
    width: 100%;
    height: 120%;
  }

  & > div {
    position: relative;
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin: auto;
    border-radius: 5px;
    box-shadow: var.$box-shadow;

    & > img {
      object-fit: cover;
    }
  }
}

.descBox {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.1rem;

  @include util.min-width(sm) {
    gap: 0.25rem;
  }
}

.channelNm {
  font-weight: 600;
  font-size: 1rem;

  &:global(.stream) {
    color: $active-color2;
  }

  @include util.min-width(sm) {
    font-size: 1.2rem;
  }
}

.title {
  @include util.text-line(2, 1.2);
  font-size: 0.75rem;

  &:global(.stream) {
    color: $active-color1;
    font-weight: 500;
  }

  @include util.min-width(sm) {
    @include util.text-line(2, 1.4);
    font-size: 1rem;
  }
}

.time {
  display: flex;
  font-size: 0.75rem;
  align-items: center;
  gap: 0.5rem;

  @include util.min-width(sm) {
    font-size: 1rem;
  }
}

.statusBox {
  display: flex;
  align-items: center;
  font-weight: 500;
  gap: 0.125rem;
  color: $active-color1;
  vertical-align: middle;
}

.statusSvg {
  @include util.min-width(sm) {
    width: 1rem;
    height: 1rem;
  }
}
