.trigger {
  padding: 0.25rem;
  border-radius: 0.25rem;
  background-color: util.palette(second, default);
  color: map-get(var.$colors, textInvert);
  transition: background-color 0.2s map-get(var.$easing, default);

  &:hover {
    background-color: util.palette(second, light);
  }

  &:active {
    background-color: util.palette(second, dark);
  }
}

.contentWrapper {
  display: grid;
  place-items: center;
  height: 70svh;

  .content {
    width: 100%;
    max-width: 50rem;
  }
}