.wrap {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .inputBox {
    position: relative;

    &:has(.input:placeholder-shown) .searchIcon,
    &:has(.input:not(:placeholder-shown)) .clearButton {
      visibility: visible;
      opacity: 1;
      rotate: 0deg;
      pointer-events: auto;
    }

    .input {
      width: 12rem;
      border-radius: 0.25rem;
      padding: 0.25rem 0.5rem;
      border: 1px solid map-get(var.$colors, default-border);
      outline: none;
      transition-property: border-color, width;
      transition-duration: 0.2s;
      transition-timing-function: map-get(var.$easing, default);
      font-size: 0.875rem;

      &:focus,
      &:not(:placeholder-shown) {
        width: 15rem;
      }

      &:focus-visible {
        border-color: util.palette(second, default);
      }

      @media (prefers-reduced-motion: reduce) {
        transition: none;

        &:focus,
        &:not(:placeholder-shown) {
          width: 12rem;
        }
      }
    }

    .icon {
      visibility: hidden;
      display: grid;
      justify-content: center;
      align-items: center;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 0.25rem;
      position: absolute;
      top: 50%;
      right: 0.4rem;
      translate: 0 -50%;
      opacity: 0;
      pointer-events: none;
      transition-property: opacity, rotate, visibility;
      transition-duration: 0.3s;
      transition-timing-function: map-get(var.$easing, default);
      transition-behavior: discrete;

      &:hover {
        background-color: map-get(var.$colors, default-hover);
      }

      &:focus-visible {
        box-shadow: 0 0 0 0.125rem util.palette(second, default);
      }
    }

    .searchIcon {
      rotate: 90deg;
    }

    .clearButton {
      rotate: -90deg;
    }
  }
}