.inner {
  margin-block-start: 2.25rem;
  padding-block-end: 1rem;

  .title {
    display: -webkit-box;
    height: calc(1 * 1.6rem);
    font-size: 1.15rem;
    word-break: break-all;
    overflow: hidden;
    line-clamp: 1;
    line-height: 1.6rem;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .descBox {
    height: 22.5rem;
    padding-inline: 0.5rem;
    overflow-y: scroll;
    line-height: 1.5rem;
  }
}