.inner {
  padding: 0.5rem;
  background-color: var(--liveuta-main);
}

.channelSection {
  position: relative;
}

.alert {
  font-size: 1.1rem;
  font-weight: 600;
}

.paginationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}