.inner {
  padding-block: 0.5rem;
  container-type: inline-size;
}

.channelSection {
  position: relative;

  @container (min-width: 48rem) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding-block-start: 1rem;
    padding-inline: 0.5rem;
  }

  @container (min-width: 72rem) {
    grid-template-columns: repeat(3, 1fr);
  }

  @container (min-width: 96rem) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.alert {
  font-size: 1.1rem;
  font-weight: 600;
}

.paginationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 1rem;
}