.wrap {
  display: grid;
  gap: 0.5rem;
  padding-block-start: 1rem;

  @include util.min-width(md) {
    grid-template-columns: 1fr 1fr;
  }

  @include util.min-width(lg) {
    grid-template-columns: auto;
  }

  @include util.min-width(xl) {
    grid-template-columns: 1fr 1fr;
  }

  .videoSection {
    display: grid;
    gap: 1rem;

    .videoSectionInner {
      padding-inline: 1rem;
    }

    .playerBox {
      position: relative;
      width: 100%;
      padding-block-start: 56.25%;
    }
  }
}
