.wrap {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding-block-start: 1rem;
  padding-block-end: 10rem;

  @include util.min-width(xl) {
    flex-direction: row;
    padding-block-end: unset;
  }

  .videoSection {
    flex: 1;
    display: grid;
    gap: 1rem;

    .videoSectionInner {
      padding-inline: 1rem;
    }

    .playerBox {
      @include util.min-width(xl) {
        padding-inline: 1rem;
      }

      .playerWrapper {
        position: relative;
        width: 100%;
        padding-block-start: 56.25%;
      }
    }
  }

  .horizontalDivider {
    @include util.min-width(xl) {
      display: none;
      visibility: hidden;
    }
  }

  .verticalDivider {
    display: none;
    visibility: hidden;

    @include util.min-width(xl) {
      display: block;
      visibility: visible;
    }
  }

  .tableSection {
    flex: 1;
    padding-inline: 1rem;
  }
}
