/* ----- CSS reset ----- */
*,
*::before,
*::after {
  border: none;
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

button,
select {
  text-transform: none;
}

button {
  background: none;
  cursor: pointer;
  color: inherit; // apple-system-blue override
}

button svg {
  display: block;
}

ul,
li,
ol {
  margin: 0;
  list-style: none;
  padding-left: 0;
}

html {
  font-size: 16px; // root font-size
}

/* ----- Global styles ----- */
body {
  margin: 0;
  padding: 0;
  font-family: var(--mantine-font-family);
  font-size: var(--mantine-font-size-md);
  line-height: var(--mantine-line-height);
  background-color: var(--mantine-color-body);
  color: var(--mantine-color-text);

  -webkit-font-smoothing: var(--mantine-webkit-font-smoothing);
  -moz-osx-font-smoothing: var(--mantine-moz-font-smoothing);

  &[data-scroll-locked] {
    overflow: hidden !important;

    .os-scrollbar-vertical {
      opacity: 0 !important;
      visibility: hidden !important;
    }
  }
}

*::selection {
  background-color: util.palette(third, default);
  color: white;
}

@media screen and (max-device-width: 31.25em) {
  body {
    -webkit-text-size-adjust: 100%;
  }
}

textarea {
  background: none;
  border: none;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  resize: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@media (prefers-reduced-motion: reduce) {
  [data-respect-reduced-motion] [data-reduce-motion] {
    transition: none;
    animation: none;
  }
}

[data-mantine-color-scheme='light'] .mantine-light-hidden {
  display: none;
}

[data-mantine-color-scheme='dark'] .mantine-dark-hidden {
  display: none;
}

::-webkit-scrollbar {
  width: 7.5px;
  height: 7.5px;
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: var(--liveuta-second-default);
  border-radius: 10px;
  cursor: pointer;
}

::-webkit-scrollbar-button {
  display: none;
  visibility: hidden;
}

:focus-visible {
  outline: util.palette(third, default) auto 1px;
}

.essential {
  content: '*';
  color: var(--mantine-color-red);
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
}

.ring-loader {
  --loader-size: 3.5rem;
  --loader-color: util.palette(third, default);
}

.os-scrollbar {
  --os-size: 8px;
  --os-handle-bg: #{util.palette(third, default)};
  --os-handle-bg-hover: #{util.palette(third, light)};
  --os-handle-bg-active: #{util.palette(third, dark)};

  @include util.min-width(md) {
    --os-size: 10px;
  }
}

// View Transitions Animation
@keyframes view-enter {
  0% {
    opacity: 0;
    transform: translateY(5rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes view-exit {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 0;
  }
}

// https://developer.chrome.com/docs/web-platform/view-transitions/same-document?hl=ko

// .view-swap {
//   view-transition-name: view-swap;
// }

// ::view-transition-old(view-swap) {
//   z-index: 0;
//   opacity: 0.3;
// }

// ::view-transition-new(view-swap) {
//   z-index: 1;
//   animation: view-enter 0.3s util.easing(expo-in-out);
// }

// css specificity required
body #nprogress {
  .bar {
    background: var(--liveuta-nprogress);

    position: fixed;
    z-index: 99999;
    top: 0;
    left: 0;

    width: 100%;
    height: 4px;

    .peg {
      display: block;
      position: absolute;
      right: 0px;
      width: 100px;
      height: 100%;
      box-shadow:
        0 0 10px var(--liveuta-nprogress),
        0 0 5px var(--liveuta-nprogress);
      opacity: 1;

      -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
      transform: rotate(3deg) translate(0px, -4px);
    }
  }
}
