@import 'var';
@import 'mixin';
@import 'placeholder';

.container {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: var(--liveuta-backdrop-color);

  .modal {
    top: 50%;
    left: 50%;
    position: relative;
    background-color: #fff;
    max-width: 40rem;
    max-height: 30rem;
    width: 90%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 30px;

    @include box-shadow();
    display: flex;

    @include min-width($mixin-large-width) {
      width: 40rem;
    }

    .inner {
      width: 100%;
      padding: 1rem;
    }

    .close {
      position: absolute;
      top: 1rem;
      right: 1rem;
      @include transition(color, 0.2s, linear);
      color: var(--liveuta-active-color);

      &:hover {
        transform: scale(1.02);
        color: var(--liveuta-hover-color);
      }
    }
  }
}
