@import 'var';
@import 'mixin';
@import 'placeholder';

.nav-section {
  position: sticky;
  top: 3.5rem;
  z-index: 2;
  display: flex;
  color: var(--liveuta-default-text-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;

  @include min-width(map-get($points, md)) {
    padding: 1rem;
  }

  .nav-scroll-box {
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      display: flex;
      justify-content: space-between;
      min-width: 18.75rem;

      .nav-tab {
        display: flex;
        justify-content: space-around;
        width: 13rem;
        overflow: hidden;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        border: none;
        border-radius: 5px;
        @include box-shadow();

        li {
          width: 100%;

          a {
            background-color: #fff;

            width: 100%;
            line-height: 2.4rem;
            text-align: center;
            @include transition(background-color, 0.2s, linear);

            &:hover {
              background-color: var(--liveuta-default-color);
              color: #fff;
            }

            &.active {
              background-color: var(--liveuta-active-color);
              color: var(--liveuta-bg-color-light);
            }

            &:focus-visible {
              outline-offset: -4px;
            }
          }
        }
      }
    }

    .total {
      line-height: 2.4rem;
      padding: 0 0.4rem;
      background-color: #fff;
      border-radius: 5px;
      @include box-shadow();
    }
  }
}

.contents-section {
  @extend %home-contents-section;
}
