@import 'var';
@import 'mixin';
@import 'placeholder';

.nav-section {
  top: 3.5rem;
  z-index: 2;
  display: flex;
  color: var(--liveuta-default-text-color);
  font-size: 1rem;
  font-weight: 500;
  padding: 0.5rem;

  @include min-width(map-get($points, md)) {
    padding: 1rem;
  }

  .nav-scroll-box {
    width: 100%;

    &::-webkit-scrollbar {
      display: none;
    }

    > div {
      display: flex;
      justify-content: space-between;
      min-width: 18.75rem;

      .nav-selectbox {
        position: relative;
        border-radius: 5px;
        background-color: #fff;
        @include box-shadow();

        > button {
          width: 7.5rem;
          height: 2.4rem;
          padding: 0.5rem 0.75rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 5px;
          @include transition(background-color, 0.2s, $bezier-curve);

          &:hover {
            background-color: var(--liveuta-active-color);
            color: #fff;
          }
        }

        .side {
          position: fixed;
          top: calc(env(safe-area-inset-top) + 4rem);
          right: -100%;
          width: 8rem;
          background-color: #fff;
          border-radius: 5px;
          display: flex;
          overflow: hidden;
          @include transition(right, 0.2s, $bezier-curve);
          @include box-shadow();

          @include min-width(map-get($points, sm)) {
            width: 20%;
          }

          @include min-width(map-get($points, xl)) {
            width: 10%;
          }

          &.active {
            right: 0;
          }

          > button {
            padding: 0.5rem;
            @include transition(background-color, 0.2s, $bezier-curve);

            &:hover {
              background-color: var(--liveuta-active-color);
              color: #fff;
            }
          }

          > ul {
            width: 100%;

            li {
              padding: 0.5rem;
              cursor: pointer;
              @include transition(background-color, 0.2s, $bezier-curve);

              &:hover {
                background-color: var(--liveuta-default-color);
                color: #fff;
              }

              &.active {
                color: var(--liveuta-active-color);
                font-weight: 600;
              }
            }
          }
        }
      }

      .nav-tab {
        display: flex;
        justify-content: space-around;
        width: 13rem;
        overflow: hidden;
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
        border: none;
        border-radius: 5px;
        @include box-shadow();

        li {
          width: 100%;

          a {
            background-color: #fff;

            width: 100%;
            line-height: 2.4rem;
            text-align: center;
            @include transition(background-color, 0.2s, linear);

            &:hover {
              background-color: var(--liveuta-default-color);
              color: #fff;
            }

            &.active {
              background-color: var(--liveuta-active-color);
              color: var(--liveuta-bg-color-light);
            }

            &:focus-visible {
              outline-offset: -4px;
            }
          }
        }
      }
    }

    .total {
      line-height: 2.4rem;
      padding: 0 0.4rem;
      background-color: #fff;
      border-radius: 5px;
      @include box-shadow();
    }
  }
}

.contents-section {
  @extend %home-contents-section;
}
