@import 'var';
@import 'mixin';
@import 'placeholder';

.form {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  border-radius: 30px;

  > div {
    //input 디자인이 들어가는 부분
    display: flex;
    border-radius: 30px;
    background-color: #fff;
    padding: 0.25rem 1.5rem;
    align-items: center;
    gap: 1rem;
    @include box-shadow();

    .input {
      box-sizing: border-box;
      width: 100%;
      padding: 0;
      border: none;
      background-color: transparent;

      &:focus {
        outline: none;
      }

      &::placeholder {
        font-family: inherit;
      }

      //자동입력 스타일 제거
      &:-webkit-autofill,
      &:-webkit-autofill:hover,
      &:-webkit-autofill:focus {
        -webkit-text-fill-color: black;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
        box-shadow: 0 0 0px 1000px #fff inset;
      }
    }

    button[type='button'] {
      display: flex;
      border-radius: 100%;

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }
    }

    button[type='submit'] {
      display: flex;
      padding: 0.5rem;
      border-radius: 100%;
      background-color: var(--liveuta-default-color);
      color: map-get($colors, light-font);
      @include transition(background-color, 80ms, $bezier-curve);
      @include box-shadow();

      &:hover {
        background-color: var(--liveuta-hover-color);
      }
    }
  }
}
