@import 'var';
@import 'mixin';
@import 'placeholder';

@include keyframe(loading) {
  0% {
    transform: rotateZ(-90deg);
  }
  100% {
    transform: rotateZ(270deg);
  }
}

.loading {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div {
    & > div {
      color: var(--liveuta-loading-color);
      position: relative;
      text-align: center;

      svg {
        position: absolute;
        top: -15px;
        left: 0px;
        transform: rotateZ(-90deg);
        @include animation(loading, 1.5s, 0s);
      }
    }

    p {
      margin-top: 0.5rem;
      font-size: 1.25rem;
      text-align: center;
      font-weight: 500;
      color: map-get($colors, light-font);
    }
  }
}
