@import 'mixin';
@import 'var';

.card {
  padding: 0.2rem;
  background-color: lighten(map-get($colors, main), 10%);
  border-radius: 5px;
  @include box-shadow();

  &.closed {
    background-color: lighten(map-get($colors, light-blue), 3%);
  }

  &.stream {
    background-color: map-get($colors, light-yellow);
  }

  .content {
    display: flex;
    height: 100%;
    gap: 0.8rem;

    .thumnail {
      width: 7rem;
      min-width: 7rem;
      aspect-ratio: 16 / 9;
      border-radius: 5px;
      background-color: map-get($colors, card-bg);
      @include box-shadow();
      overflow: hidden;
      border-radius: 5px;
      position: relative;

      a {
        width: 100%;
        height: 100%;
        position: relative;
        @include transition(scale, 0.3s, linear);

        img {
          position: absolute;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        @include min-width($mixin-middle-width) {
          transform: scale(1.01);
        }

        &:focus-visible {
          scale: 1.2;
        }
      }

      @include min-width($mixin-middle-width) {
        width: auto;
        width: fit-content;
        margin: auto;
        min-height: 7.14rem;
      }

      @include min-width($mixin-large-width) {
        min-height: 9.35rem;
      }
    }

    .description {
      margin-bottom: 0.2rem;
      max-width: 20rem;
      width: 100%;
      height: 100%;
      display: flex;
      flex-flow: column;
      .channel_name {
        font-weight: 500;

        &.stream {
          font-weight: 600;
          color: map-get($colors, highlight-font);
        }

        @include min-width($mixin-middle-width) {
          margin-bottom: 0.2rem;
        }
      }

      .title {
        flex: 1;
        font-size: 0.7rem;
        color: map-get($colors, font);
        @include text-line(2, 1.2rem);

        &.stream {
          font-weight: 500;
          color: map-get($colors, secondary);
        }

        @include min-width($mixin-large-width) {
          font-size: 1rem;
          line-height: 1.6rem;
          height: 2 * 1.6rem;
        }
      }

      .time {
        display: flex;
        font-size: 0.6rem;
        gap: 0.5rem;

        .status {
          font-weight: 500;
          color: map-get($colors, highlight-font);
        }

        @include min-width($mixin-large-width) {
          font-size: 1rem;
        }
      }
    }

    .link {
      display: flex;
      gap: 0.5rem;
      align-items: center;
      font-size: 0.75rem;

      @include min-width($mixin-large-width) {
        font-size: 1rem;
      }

      button:nth-child(1) {
        font-size: inherit;
        font-weight: 600;
        color: map-get($colors, highlight-font);
      }

      button:nth-child(2) {
        font-weight: 600;
        font-size: inherit;
        color: map-get($colors, salmon);
        @include transition(color, 80ms, $bezier-curve);
        cursor: pointer;

        &:hover {
          color: map-get($colors, hover-salmon);
        }
      }
    }

    @include min-width($mixin-middle-width) {
      gap: 0.2rem;
      flex-direction: column;
      padding: 0.2rem 0;
      max-width: 13rem;
    }
    @include min-width($mixin-large-width) {
      max-width: 17rem;
    }
  }

  @include min-width($mixin-middle-width) {
    @include transition(all, 150ms, $bezier-curve);

    &:hover {
      transform: scale(1.02);
    }
  }
}
