@import 'mixin';
@import 'var';

.card {
  padding: 0.2rem;
  background-color: lighten(map-get($colors, main), 10%);
  border-radius: 5px;
  @include box-shadow();

  @include min-width(map-get($points, sm)) {
    @include transition(all, 150ms, $bezier-curve);

    &:hover {
      transform: scale(1.02);
    }
  }

  @include min-width(map-get($points, md)) {
    transform: scale(1.1);

    &:hover {
      transform: scale(1.12);
    }
  }

  @include min-width(map-get($points, lg)) {
    transform: scale(1.2);

    &:hover {
      transform: scale(1.22);
    }
  }

  &.closed {
    background-color: lighten(map-get($colors, light-blue), 3%);
  }

  &.stream {
    background-color: map-get($colors, light-yellow);
  }

  .content {
    display: flex;
    gap: 0.8rem;

    @include min-width(map-get($points, sm)) {
      gap: 0.2rem;
      flex-direction: column;
      padding: 0.2rem 0;
      max-width: 13rem;
      height: calc(100% - 0.4rem);
    }

    .thumnail {
      margin: auto;
      width: 7rem;
      aspect-ratio: 16 / 9;
      border-radius: 5px;
      height: 100%;
      overflow: hidden;
      position: relative;
      background-color: map-get($colors, card-bg);
      @include transition(scale, 0.3s, linear);
      @include box-shadow();

      @include min-width($mixin-middle-width) {
        width: calc(100% - 0.4rem);
      }

      img {
        object-fit: cover;
      }
    }

    .description {
      margin-bottom: 0.2rem;
      max-width: 20rem;
      height: 100%;
      display: flex;
      flex-flow: column;

      .channel_name {
        font-weight: 500;

        &.stream {
          font-weight: 600;
          color: map-get($colors, highlight-font);
        }
      }

      .title {
        flex: 1;
        font-size: 0.7rem;
        color: map-get($colors, font);
        @include text-line(2, 1.2rem);

        &.stream {
          font-weight: 500;
          color: map-get($colors, secondary);
        }
      }

      .time {
        display: flex;
        font-size: 0.6rem;
        margin-bottom: 0.2rem;
        gap: 0.5rem;

        .status {
          font-weight: 500;
          color: map-get($colors, highlight-font);
        }
      }
    }

    .link {
      display: flex;
      gap: 1rem;
      align-items: center;
      font-size: 0.5rem;

      button:nth-child(1) {
        font-size: inherit;
        font-weight: 600;
        color: map-get($colors, salmon);
      }
    }
  }
}
