.wrap {
  display: flex;
  padding: 0.5rem;
  background-color: var(--liveuta-main);

  .backBtn {
    margin-right: 1rem;
    border-radius: 5px;
    padding: 0.25rem 0.5rem;
    transition: background-color 0.3s var.$bezier-curve;
    color: util.palette(third, default);
    display: flex;
    align-items: center;

    &:hover {
      background-color: #d5d5d5;
    }

    svg {
      margin-right: 0.5rem;
    }
  }

  .breadcrumbItem {
    padding: 0.5rem;
    border-radius: 5px;
    transition: background-color 0.1s var.$bezier-curve;
  
    &:hover {
      background-color: #F4F4F5;
    }
  }
}

.breadcrumbMenuItem {
  padding-right: 2rem;

  &[data-current=true] {
    background-color: var(--liveuta-third-default);
    color: var(--liveuta-txt-light);
    cursor: default;
    pointer-events: none;
  }
}


