.wrap {
  .header {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2rem;

    .profileImage {
      width: 128px;
      height: 128px;
    }

    .headerInfo {
      display: flex;
      flex-direction: column;

      .headerTitle {
        display: flex;
        gap: 0.8rem;
        align-items: center;

        svg {
          width: 1.8rem;
          height: 1.8rem;
        }
      }

      .headerUrls {
        display: flex;
        gap: 1rem;
      }

      .headerStats {
        margin-block-start: 0.5rem;
        display: flex;
        gap: 1rem;

        & > div {
          font-size: 0.875rem;
          color: util.color(dimmed);
        }
      }

      .publishedAt {
        font-size: 0.875rem;
        color: util.color(dimmed);
      }
    }

  }

  .contents {
    margin-block-start: 1rem;
    display: flex;
    flex-direction: column;
  }
}