.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem;
  
  @include util.min-width(var.$mobile-boundary) {
    padding: 1rem;
  }
}

.essential {
  font-size: 0.85rem;
  text-align: right;
}
