@import 'var';
@import 'mixin';
@import 'placeholder';

%section-layout {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include min-width(map-get($points, sm)) {
    width: auto;
  }
}

%section-header {
  display: flex;
  gap: 1rem;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--liveuta-default-text-color);

  span {
    font-weight: 500;
  }
}

.search-section {
  background-color: var(--liveuta-half-transparent-color);

  & > div:nth-child(1) {
    margin: 0 auto;
    width: 80%;
    position: relative;
    padding: 3rem 0;

    .search-input {
      input {
        &::placeholder {
          font-size: 1.25rem;
        }
      }
    }

    p {
      position: absolute;
      left: 50%;
      bottom: 0rem;
      transform: translateX(-50%) translateY(-50%);
      color: #b10a0a;
      @include text-line(1, 1.2rem);

      &:before {
        content: '* ';
      }
    }
  }
}

.result {
  padding: 0.5rem;

  & > div {
    width: 75%;
    margin: auto;
    padding: 2rem 1rem;
    background-color: var(--liveuta-half-card-bg-color);
    border-radius: 10px;
    @include box-shadow();

    p {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      @include text-line(1, 1.5rem);
    }
  }
}

.content-section {
  @extend %section-layout;

  & > div {
    @extend %section-header;
  }

  section {
    @extend %home-contents-section;
    margin: 1.5rem 0;
  }
}

.channel-section {
  @extend %section-layout;

  & > div {
    @extend %section-header;
  }

  section {
    @extend %channels-channel-section;
    margin: 1.5rem 0;
  }
}
