@import 'var';
@import 'mixin';
@import 'placeholder';

%section-layout {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  @include min-width(map-get($points, sm)) {
    width: auto;
  }
}

%section-header {
  display: flex;
  gap: 1rem;
  margin: auto;
  font-size: 1.5rem;
  font-weight: 600;

  span {
    font-weight: 500;
  }
}

.search-section {
  background-color: map-get($colors, bg);

  & > div:nth-child(1) {
    margin: 0 auto;
    width: 80%;
    position: relative;
    padding: 3rem 0;

    form {
      position: relative;

      label:nth-of-type(1) {
        display: none;
      }

      input {
        padding: 1rem 1.5rem;
        width: 100%;
        border-radius: 30px;
        border: none;
        @include box-shadow();

        &:focus {
          outline: none;
        }

        &::placeholder {
          font-family: inherit;
          font-size: 1.25rem;
          display: none;
        }
      }

      label:nth-of-type(2) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 4.5rem;
        display: flex;
        border-radius: 100%;
        &:hover {
          background-color: rgba(0, 0, 0, 0.2);
        }
      }

      button[type='submit'] {
        position: absolute;
        right: 1.5rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        padding: 0.5rem;
        border-radius: 100%;
        background-color: map-get($colors, salmon);
        color: map-get($colors, light-font);
        @include transition(background-color, 80ms, $bezier-curve);
        @include box-shadow();

        &:hover {
          background-color: map-get($colors, hover-salmon);
        }
      }
    }

    p {
      position: absolute;
      left: 50%;
      bottom: 0rem;
      transform: translateX(-50%) translateY(-50%);
      color: #b10a0a;
      @include text-line(1, 1.2rem);

      &:before {
        content: '* ';
      }
    }
  }
}

.result {
  padding: 0.5rem;

  & > div {
    width: 75%;
    margin: auto;
    padding: 2rem 1rem;
    background-color: rgba(map-get($colors, card-bg), 75%);
    border-radius: 10px;
    @include box-shadow();

    p {
      text-align: center;
      font-size: 1.25rem;
      font-weight: 500;
      @include text-line(1, 1.5rem);
    }
  }
}

.content-section {
  @extend %section-layout;

  & > div {
    @extend %section-header;
  }

  section {
    @extend %home-contents-section;
    margin: 1.5rem 0;
  }
}

.channel-section {
  @extend %section-layout;

  & > div {
    @extend %section-header;
  }

  section {
    @extend %channels-channel-section;
    margin: 1.5rem 0;
  }
}
