.form {}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 1rem;
}

.buttonInner {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.description {
  margin-block-start: 2rem;

  p {
    text-align: right;
  }
}