@use "sass:map";

.waitingList {
  display: grid;

  & > li {
    display: grid;
    grid-template-columns: 40% 60%;
    justify-items: center;
  }

  .waitingListLabel {
    margin-block-end: 0.5rem;
    font-size: 0.875rem;
    color: map.get(var.$colors, dimmed);
  }

  .waitingItem {
    padding-block: 0.5rem;

    &:hover {
      background-color: map.get(var.$colors, default-hover);
    }

    &:nth-child(even) {
      border-block: 1px solid map.get(var.$colors, default-border);
      ;
    }

    .channelName {
      font-weight: 500;

    }
  }
}