@import 'var';
@import 'mixin';
@import 'placeholder';

.container {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 500;
  visibility: hidden;
  width: 100%;
  @include transition(all, 0.3s, linear);

  &.show {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .sidebar {
    position: absolute;
    background-color: var(--liveuta-sidebar-color);
    width: 18rem;
    top: 0;
    bottom: 0;
    left: -18rem;
    padding-top: env(safe-area-inset-top);
    padding-bottom: env(safe-area-inset-bottom);
    @include transition(transform, 0.3s, cubic-bezier(0.8, 0.05, 0.2, 0.95));

    &.show {
      transform: translateX(100%);
    }

    nav {
      display: flex;
      justify-content: space-between;
      padding: 0.5rem 1rem 0 1rem;
      align-items: center;

      .close {
        display: flex;
        padding: 0 0.1rem;
        color: map-get($colors, light-font);
        @include transition(color, 0.3s, $bezier-curve);

        &:hover {
          color: var(--liveuta-hover-color);
        }
      }
    }

    section {
      padding: 3rem 2rem;
      display: flex;
      flex-direction: column;
      gap: 1.5rem;

      h2 {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        font-weight: 600;
      }

      ul {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;

        li {
          a {
            @include transition(color, 0.05s, $bezier-curve);

            &:hover:not(&.active) {
              color: var(--liveuta-hover-color);
            }
          }
        }
      }
    }
  }
}
