@import 'var';
@import 'mixin';
@import 'placeholder';

.wrap {
  position: relative;
  &.active {
    //펼쳐지는 효과
    button {
      color: var(--liveuta-active-color);
      > span {
        transform: rotate(180deg);
      }
    }

    & > .content {
      max-height: 100vh;
      visibility: visible;
    }
  }

  & > button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 0.5rem;

    &:hover {
      color: var(--liveuta-hover-color);
    }

    span {
      transition: all 0.2s ease;
      transform: rotate(0deg);
    }
  }

  & > .content {
    width: 100%;
    position: absolute;
    overflow: hidden;
    background-color: #fff;
    color: var(--liveuta-default-text-color);
    border-radius: 0 0 0.5rem 0.5rem;
    @include box-shadow();

    //펼쳐지는 효과
    transition: max-height 0.2s ease, visibility 0.2s ease;
    visibility: hidden;
    max-height: 0;

    & > div {
      padding: 0.5rem;

      ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        li {
          &:hover {
            color: var(--liveuta-hover-color);
          }
        }
      }
    }
  }
}
