@use "sass:map";

.inner {
  width: 100dvw;
  position: fixed;
  bottom: 0;
  height: var.$safe-footer-height;
  z-index: map.get(var.$z-indexes, float);
  background-color: util.palette(first, darken);
  font-size: 0.75rem;
  color: var(--liveuta-txt-light);
  transition: transform 0.3s util.easing(default);
}

@include util.min-width(var.$mobile-boundary) {
  .inner {
    height: 0;
  }
}

button.topButton {
  position: absolute;
  top: -65px;
  right: 16px;
  padding: 0.5em;
  border-radius: 5px;
  box-shadow: var.$box-shadow;
  background-color: var(--mantine-color-white);
  color: util.color(text);
  visibility: hidden;
}

@include util.dark {
  button.topButton {
    background-color: var(--mantine-color-dark-6);
  }
}

@include util.min-width(var.$mobile-boundary) {
  button.topButton {
    right: 32px;
  }
}

.list {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
  padding-bottom: var.$env-bottom;

  li {
    flex: 1;
    height: 100%;
  }
}

@include util.min-width(var.$mobile-boundary) {
  .list {
    display: none; // tab 선택 안되게 방지
  }
}

button.item,
a.item {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  padding: 0.5em;
  transition: color 0.2s util.easing(default);
  font-size: 0.875rem;

  &:hover {
    color: util.palette(third, lighter);
  }

  &[data-current='true'] {
    color: util.palette(third, lighter);
  }

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }
}