.wrap {
  // view-transition-name: bottom-tab; // TODO: Bug fix
  display: block;
  height: var.$safe-footer-height;

  @include util.min-width(var.$mobile-boundary) {
    height: 0;
  }

  &::view-transition-group {
    z-index: 2;
  }
}
