.homeMain {

  .heroSection {
    background-color: rgba(0, 0, 0, 0.85);
    margin-bottom: 100px;
    position: relative;

    @include util.min-width(var.$mobile-boundary) {
      padding: min(10vw, 3rem);
    }

    .coverImageBox {
      position: relative;
      width: 100%;
      aspect-ratio: 11 / 7;
      margin: 0 auto;

      @include util.min-width(var.$mobile-boundary) {
        width: 550px;
      }

      :global(.blur) {
        display: none;
        filter: blur(120px);

        @include util.min-width(var.$mobile-boundary) {
          display: block;
        }
      }

      & > img {
        object-fit: cover;
      }
    }
  }

  .liveSection {
    max-width: 1200px;
    margin: 0 auto;
    padding-inline: 1rem;
    margin-bottom: 100px;

    .liveNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;


      h2 {
        margin: 0;
      }

      .highlight {
        color: var(--liveuta-third-default);
      }
    }
  }

  .favoriteSection {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-inline: 1rem;

    .favoriteNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      h2 {
        margin: 0;
      }
    }
  }

  .searchSection {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding-inline: 1rem;

    .searchNav {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h2 {
        font-weight: 500;
      }
    }

    .searchBox {
      width: min(100%, 550px);
      margin: 0 auto;
    }
  }

  .recentChannelSection {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 1rem;

    .recentChannelNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1em;

      h2 {
        margin: 0;
      }
    }
  }

  .featureSection {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 1rem;
    
    .featureNav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      h2 {
        margin: 0;
      }
    }

    .featureBox {
      width: 100%;
      height: 200px;
      border-radius: 1rem;
      overflow: hidden;

      
      .featuredContent {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        transition: transform 0.2s ease-in-out;
 
        .patternBg {
          width: 100%;
          height: 100%;
          background: linear-gradient(45deg, util.palette(third, default), util.palette(first, default));
          position: relative;

          svg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.3;
          }

          .characterImage {
            position: absolute;
            width: min(350px, 100%);
            transform: rotate(25deg);
            height: 350px;
            bottom: -50%;
            right: 0;

            @include util.min-width(var.$mobile-boundary) {
              bottom: -50%;
              right: 2rem;
            }

            img {
              object-fit: cover;
              width: 100%;
              height: 100%;
              filter: drop-shadow(0 0 10px rgba(0,0,0,0.2));
            }
          }
        }

        .featuredOverlay {
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          padding: 0.5rem;
          color: white;
          text-align: left;
          background: none;
          z-index: 1;
          background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.75));


          h3 {
            font-size: 1.5rem;
            margin-bottom: 0.5rem;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
          }

          p {
            opacity: 0.9;
            text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
            font-size: 1.1rem;
            margin: 0;
          }

          @include util.min-width(var.$mobile-boundary) {
            background: none;
            padding: 1.5rem;

            h3 {
              font-size: 2rem;
              font-weight: bold;
              margin-bottom: 1rem;
            }

            p {
              margin-block:  1rem;
            }
          }
        }
      }
    }
  }

  .tweetArticle {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 100px;
    padding: 1rem;
  }
}