@import 'var';
@import 'mixin';
@import 'placeholder';

.wrap {
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  display: flex;
  border-radius: 5px;
  @include transition(background-color, 0.2s, $bezier-curve);

  &:hover {
    background-color: rgba(0, 0, 0, 0.15);
  }

  > svg {
    > path {
      stroke: inherit;
    }
  }
}
