@import 'var';
@import 'mixin';
@import 'placeholder';

.channel {
  display: flex;
  border-radius: 15px;
  background-color: lighten(map-get($colors, main), 10%);
  padding: 0.75rem;
  gap: 0.75rem;
  cursor: pointer;
  @include transition(scale, 0.2s, linear);

  @include min-width(950px) {
    width: 17rem;
    margin: 0 auto;
  }

  &:hover {
    transform: scale(1.02);
  }

  .image-container {
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    width: 88px;
    height: 88px;
    @include box-shadow();
  }

  .desc {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    h1 {
      font-size: 1.25rem;
    }

    .details {
      display: flex;
      flex-direction: column;

      h2 {
        font-weight: 500;
        font-size: 1rem;
      }

      .link {
        display: flex;
        gap: 0.5rem;
        align-items: center;

        button {
          font-weight: 600;
          color: var(--liveuta-active-color);
        }
      }
    }
  }
}
