@use "sass:map";

.loadingWrap {
  @extend %flex-center;
  padding: 1rem;
}

.mainLoadingWrap {
  @extend %flex-center;
  @extend %fixed-max-size;
  z-index: map.get(var.$z-indexes, float);
  font-size: 2rem;
}

.mainLoadingInner {
  color: util.palette(third, lighter);
  position: relative;
  height: 130px;
  width: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.mainLoadingBar {
  position: absolute;
  top: 0px;
  left: 0px;
  transform: rotatez(-90deg);
}

.mainLoadingText {
  font-size: 1.25rem;
  text-align: center;
  font-weight: 500;
}
