@import 'var';
@import 'mixin';
@import 'placeholder';

.inner {
  nav {
    margin: auto;
    max-width: map-get($points, 2xl);
    height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: map-get($colors, light-font);
    max-width: map-get($points, 2xl);
    padding: 0 0.5rem;

    @include min-width(map-get($points, md)) {
      padding: 0 1.5rem;
    }

    .title {
      font-size: 2rem;
      color: var(--liveuta-title-color);
      font-weight: 600;
      @include text-line(1, 2.2rem);
    }

    .navigation {
      display: flex;
      align-items: center;
      gap: 1rem;

      .search-input {
        max-width: 15rem;
        height: 2.25rem;
        color: black;
        display: none;

        @include min-width(map-get($points, md)) {
          display: block;
        }

        > div {
          > input {
            &::placeholder {
              text-align: center;
            }
          }
          > button[type='submit'] {
            padding: 0.25rem;

            > svg {
              width: 1rem;
              height: 1rem;
            }
          }
        }
      }

      ul {
        display: none;
        align-items: center;
        gap: 0.5rem;

        @include min-width(map-get($points, md)) {
          display: flex;
        }
      }

      .search-button {
        border-radius: 10px;
        padding: 0.5rem 0.7rem;
        background-color: var(--liveuta-active-color);
        @include transition(background-color, 80ms, $bezier-curve);
        @include box-shadow();

        &:hover {
          background-color: var(--liveuta-hover-color);
        }
      }
    }
  }
}
