.wrap {
  display: grid;
  place-items: center;
  position: relative;
  height: util.calc-inner-height(100dvh);
  text-align: center;

  .inner {
    width: 100%;
    height: 100%;

    .iframe {
      width: 100%;
      height: 100%;
      background-color: var.$backdrop-color;
      box-shadow: var.$box-shadow;
    }
  }

  .openButton {
    position: absolute;
    top: 1rem;
    right: 1rem;
    padding: 0.2rem 0.6rem;
    border-radius: 100px;
    background-color: util.palette(third, default);
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.1rem;
    letter-spacing: 0.025em;
    box-shadow: var.$box-shadow;
    transition: background-color 0.2s var.$bezier-curve;

    &:hover {
      background-color: util.palette(third, dark);
    }
  }
}