.playerBase {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  background-color: #424141cf;
}

.playerDiv {
  position: relative;
  border: none;
  width: 100%;

  &:global(.left) {
    left: -350px;
  }
}

.playerPlaceholder {
  @extend .playerBase;
  @extend %flex-center;
}

.playerBox {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.liveChatBox {
}

.liveChat {
  height: 100%;
  background-color: #000000;
}


.pipBase {
  width: 350px;
  aspect-ratio: 16 / 9;
}
