.playerBase {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  background-color: #424141cf;
}

.defaultPlayerPlaceholder {
  @extend .playerBase;
  @extend %flex-center;
}

.pipBase {
  width: 350px;
  aspect-ratio: 16 / 9;
  background-color: #424141cf;
}

// SetlistPlayer, LiveCharPlayer에서 사용중
.playerBox {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: center;
}

.liveChatBox {
}

.liveChat {
  height: 100%;
  background-color: #000000;
}

.popButton {
  position: absolute;
  font-weight: 500;
  top: 0px;
  right: 0px;
  letter-spacing: 0px;
}
