@mixin min-width($width) {
  @media (min-width: $width) {
    @content;
  }
}

@mixin max-width($width) {
  @media (max-width: $width) {
    @content;
  }
}

@mixin keyframe($name) {
  @keyframes #{$name} {
    @content;
  }
}

@include keyframe(loading) {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(-360deg);
  }
}

@mixin animation($keyframe-name, $duration, $delay, $count: infinite) {
  -moz-animation-name: $keyframe-name;
  -moz-animation-duration: $duration;
  -moz-animation-delay: $delay;
  -moz-animation-iteration-count: $count;
  -webkit-animation-name: $keyframe-name;
  -webkit-animation-duration: $duration;
  -webkit-animation-delay: $delay;
  -webkit-animation-iteration-count: $count;
  animation-name: $keyframe-name;
  animation-duration: $duration;
  animation-delay: $delay;
  animation-iteration-count: $count;
}

@mixin box-shadow($isnav: false) {
  @if ($isnav) {
    box-shadow: 0px 1px 2px 0 rgba(56, 52, 52, 0.4);
    -webkit-box-shadow: 0px 1px 2px 0 rgba(56, 52, 52, 0.4);
    -moz-box-shdow: 0px 1px 2px 0 rgba(56, 52, 52, 0.4);
  } @else {
    box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  }
}

@mixin text-line($line-count, $line-height) {
  white-space: pre-line;
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;
  display: -webkit-box;
  -webkit-line-clamp: $line-count;
  -webkit-box-orient: vertical;
  line-height: $line-height;
  height: $line-height * $line-count;
}
