%scroll-bar {
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: map-get($colors, hover-salmon);
    border-radius: 10px;
    &:hover {
      background-color: lighten(map-get($colors, hover-salmon), 25%);
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
    visibility: hidden;
  }
}

%home-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include min-width(map-get($points, sm)) {
    gap: 0.6rem;
  }

  @include min-width(map-get($points, md)) {
    gap: 0.8rem;
  }
}

%home-contents-section {
  //sm point보다 작을때 화면에 꽉차도록 100%
  padding: 0 0.5rem;
  width: calc(100% - 1rem);
  margin: 0 auto;
  display: grid;
  row-gap: 0.5rem;

  @include min-width(map-get($points, sm)) {
    width: auto;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.4rem;
    row-gap: 0.8rem;
  }

  @include min-width(map-get($points, md)) {
    column-gap: 3rem;
    row-gap: 3.5rem;
    padding: 1rem;
  }

  @include min-width(map-get($points, lg)) {
    column-gap: 4.5rem;
    row-gap: 5rem;
  }

  @include min-width(map-get($points, 2xl)) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include min-width(map-get($points, full)) {
    grid-template-columns: repeat(5, 1fr);
  }
}

%channels-channel-section {
  width: calc(100% - 1rem);
  padding: 0.5rem;
  display: grid;
  gap: 0.75rem;

  @include min-width(map-get($points, sm)) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include min-width(950px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @include min-width(map-get($points, 2xl)) {
    grid-template-columns: repeat(4, 1fr);
  }
}
