%scroll-bar {
  &::-webkit-scrollbar {
    width: 15px;
  }
  &::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
  }
  &::-webkit-scrollbar-thumb {
    background-color: map-get($colors, hover-salmon);
    border-radius: 10px;
    &:hover {
      background-color: lighten(map-get($colors, hover-salmon), 25%);
    }
  }
  &::-webkit-scrollbar-button {
    display: none;
    visibility: hidden;
  }
}

%home-main {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

%home-contents-section {
  margin: auto;
  display: grid;
  row-gap: 0.5rem;

  @include min-width(map-get($points, sm)) {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.4rem;
    row-gap: 1.2rem;
  }

  @include min-width(map-get($points, md)) {
    column-gap: 2rem;
    row-gap: 2.5rem;
    padding: 1rem;
  }

  @include min-width(map-get($points, lg)) {
    column-gap: 3.25rem;
    row-gap: 4rem;
    padding: 1.5rem;
  }

  @include min-width(map-get($points, 2xl)) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 3.5rem;
    row-gap: 4.25rem;
    padding: 2rem;
  }

  @include min-width(map-get($points, full)) {
    grid-template-columns: repeat(5, 1fr);
  }
}

%channels-channel-section {
  display: grid;
  gap: 0.75rem;

  @include min-width($mixin-middle-width) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include min-width($mixin-xl-width) {
    grid-template-columns: repeat(3, 1fr);
  }
}
