$mixin-middle-width: 28rem;
$mixin-large-width: 56rem;
$mixin-xl-width: 80rem;
$mixin-2xl-width: 96rem;
$mixin-1080p-width: 120rem;
$mixin-1440p-width: 160rem;
$colors: (
  main: #ffc1cc,
  secondary: #fa923f,
);
$bezier-curve: cubic-bezier(0.4, 0, 0.2, 1);
