//사용X
$mixin-middle-width: 640px;
$mixin-large-width: 768px;
$mixin-xl-width: 1024px;
$mixin-2xl-width: 1280px;
$mixin-1080p-width: 1280px;
$mixin-1440p-width: 1536px;

$points: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  2xl: 1536px,
  full: 1900px,
);

$colors: (
  light-font: #ffffff,
  highlight-font: #ee526f,
  link-font: #cc718f,
  font: #4b5563,
  main: #ffc1cc,
  light-yellow: #fcefc7,
  bg: #d8aab1ec,
  back-drop: #b9919867,
  secondary: #fa923f,
  salmon: #fa8072,
  hover-salmon: #e06e61,
  card-bg: #f4f4f5,
  skyblue: #00cbfe,
  light-blue: #d8f2ff,
);

$bezier-curve: cubic-bezier(0.4, 0, 0.2, 1);
