@import 'var';
@import 'mixin';
@import 'placeholder';

%background-side {
  z-index: -1;
  width: 10%;
  background-size: cover;
  position: fixed;
  top: 0;
  bottom: 0;
  margin: 0;
  opacity: 0;
  @include transition(opacity, 0.3s, linear);

  @include check-device() {
    display: none;
  }

  @include min-width($mixin-2xl-width) {
    opacity: 1;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Pretendard Variable', Pretendard, -apple-system, sans-serif;
  @extend %scroll-bar;
}

a,
h1,
h2,
h3,
h4,
p,
ul,
li,
input,
label,
button {
  display: block;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

a,
label,
button {
  background: none;
  cursor: pointer;

  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid var(--liveuta-active-color);
    border-radius: 5px;
    outline-offset: 2.5px;
    z-index: 10;
  }

  &.active {
    color: var(--liveuta-active-color);
    cursor: default;
  }
}

body {
  overflow-x: hidden;
  background-color: var(--liveuta-bg-color);
  background-image: var(--liveuta-bg-pattern);
  transition: background-color 0.2s $bezier-curve, background-image 0.2s $bezier-curve;

  #app {
    @extend %home-main;
    max-width: map-get($points, 2xl);
    min-height: calc(100vh - 3.5rem - 5rem - env(safe-area-inset-top) - env(safe-area-inset-bottom));
    margin: auto;

    @include min-width(map-get($points, xl)) {
      width: 80%;
    }
  }

  .background-left {
    @extend %background-side;
    background-image: var(--liveuta-bg-left);
    background-position: var(--liveuta-bg-left-position);
    left: 0;
  }

  .background-right {
    @extend %background-side;
    background-image: var(--liveuta-bg-right);
    background-position: var(--liveuta-bg-right-position);
    right: 0;
  }

  .footer {
    height: 5rem;
    padding-bottom: env(safe-area-inset-bottom);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
  }

  .foat {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: calc(env(safe-area-inset-bottom) + 1.5rem);
    right: 1.5rem;
    width: 3.25rem;
    height: 3.25rem;
    padding: 0.125rem;
    color: map-get($colors, light-font);
    background-color: var(--liveuta-hover-color);
    border-radius: 100%;
    border: none;
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    @include prevent-user-select();
    @include box-shadow();
    @include transition(all, 0.2s, $bezier-curve);

    &.hide {
      visibility: hidden;
      opacity: 0;
    }

    &:hover {
      color: var(--liveuta-hover-color);
      background-color: map-get($colors, light-font);
    }
  }
}

.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
}

.forbidden {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 3.5rem - 5rem - env(safe-area-inset-top) - env(safe-area-inset-bottom));
  font-size: 2rem;
  color: #fff;
}
