@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
@import 'mixin';
@import 'var';

html,
body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}

a {
  display: block;
  color: inherit;
  text-decoration: none;
  &:focus:not(:focus-visible) {
    outline: none;
  }

  &:focus-visible {
    outline: 3px solid map-get($colors, secondary);
    border-radius: 3px;
    outline-offset: -3px;
    z-index: 10;
  }
}

body {
  background-color: #b99198b4;
  .background {
    width: 100vw;
    height: 100vh;
    z-index: -100;
    background-image: url('/background.png');
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
  }

  .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -50;
    background-color: #b9919867;
    content: '';
  }
}
