@import "var";

.internet_link {
  padding: 0.3rem;
  a {
    img {
      vertical-align: middle;
      width: 2.3rem;
      height: 2.3rem;
    }
  }
}

.title {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.form_link {
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  background-color: salmon;
  transition-property: background-color;
  transition-duration: 80ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


  &:hover {
    background-color: rgb(224, 110, 97);
  }

  &:active {
    background-color: rgb(180, 80, 69);
  }
}
