@import "var";
@import "mixin";

.internet_link {
  padding: 0 0.3rem;
  a {
    display: block;
    img {
      vertical-align: middle;
    }
  }

  @include width($mixin-large-width) {
    margin-left: 0.5rem;
  }
  @include width($mixin-xl-width) {
    margin-left: 1rem;
  }
}

.title {
  font-size: 2rem;
  color: white;
  font-weight: 600;
}

.form_link {
  padding: 0.4rem 0.8rem;
  border-radius: 10px;
  font-size: 1rem;
  color: white;
  font-weight: 600;
  background-color: salmon;
  transition-property: background-color;
  transition-duration: 80ms;
  transition-timing-function: $bezier-curve;
  @include box-shadow();

  &:hover {
    background-color: rgb(224, 110, 97);
  }

  &:active {
    background-color: rgb(180, 80, 69);
  }

  a:focus-visible {
    outline-offset: 0.7rem;
  }
  @include width($mixin-large-width) {
    margin-right: 0.5rem;
  }
  @include width($mixin-xl-width) {
    margin-right: 1rem;
  }
}
