@import 'mixin';
@import 'var';
@import 'placeholder';

.app {
  display: flex;
  justify-content: center;
  align-items: center;

  .main {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @include min-width($mixin-middle-width) {
      gap: 0.6rem;
    }
    @include min-width($mixin-large-width) {
      gap: 0.8rem;
    }

    .nav-section {
      grid-column: 1 / -1;
      display: flex;
      justify-content: space-between;

      button {
        padding: 0.4rem;
        color: map-get($colors, salmon);
        font-weight: 600;
        border: none;
        border-radius: 5px;
        background-color: lighten(map-get($colors, main), 10%);
        cursor: pointer;
        @include transition(all, 0.2s, linear);
        @include box-shadow();

        &:hover,
        &:active {
          scale: 1.1;
          color: lighten(map-get($colors, main), 10%);
          background-color: map-get($colors, salmon);
        }

        &:focus-visible {
          outline-offset: 5px;
        }
      }

      div {
        color: map-get($colors, salmon);
        padding: 0.4rem;
        background-color: lighten(map-get($colors, main), 10%);
        border-radius: 5px;
        @include box-shadow();
      }
    }

    .contents-section {
      display: grid;
      row-gap: 0.5rem;
      grid-template-columns: 1fr;
      margin-bottom: 2rem;

      @include min-width($mixin-middle-width) {
        grid-template-columns: repeat(3, 1fr);
        column-gap: 0.4rem;
        row-gap: 1.8rem;
      }
      @include min-width($mixin-large-width) {
        column-gap: 0.6rem;
        row-gap: 2rem;
      }
      @include min-width($mixin-xl-width) {
        grid-template-columns: repeat(4, 1fr);
      }
      @include min-width($mixin-2xl-width) {
        grid-template-columns: repeat(5, 1fr);
      }
    }
    @include min-width($mixin-middle-width) {
      padding: 0.6rem;
      min-width: auto;
    }
    @include min-width($mixin-large-width) {
      padding: 1rem;
    }
  }
}

.foat {
  position: fixed;
  bottom: 1.5rem;
  right: 1.5rem;
  width: 3.25rem;
  height: 3.25rem;
  color: map-get($colors, light-font);
  background-color: map-get($colors, salmon);
  border-radius: 100%;
  border: none;
  @include prevent-user-select();
  cursor: pointer;
  @include box-shadow();
  text-align: center;
  padding: 0.125rem;
  & > svg {
    width: 3rem;
    height: 3rem;
  }
  &:hover {
    color: map-get($colors, salmon);
    background-color: map-get($colors, light-font);
  }
}
