.app {
  display: grid;
  min-width: 24rem;
  grid-template-rows: 3.5rem 100vh;
  grid-template-areas:
    "nav"
    "main";

  nav {
    grid-area: nav;
    text-align: center;
    background-color: #ffc1cc;
    display: flex;
    padding: 0 1rem;
    height: 100%;
    align-items: center;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main {
    .total {
      text-align: right;
      margin-bottom: 0.2rem;
      margin-right: 0.2rem;
    }
    z-index: 1;
    padding: 0.2rem 0;
    margin: auto;

    .youtube__container {
      margin-bottom: 2rem;
      padding: 0.2rem;
      .youtube_content__container {
        display: flex;
        margin-bottom: 0.2rem;

        .youtube_thumnail__container {
          margin-right: 0.8rem;
          width: 7rem;
          img {
            width: 100%;
            height: 100%;
          }
        }
        .youtube_description {
          max-width: 20rem;
          .youtube_link {
            color: rgb(204, 113, 143);
            font-size: 0.5rem;
          }
          .youtube_time__container {
            display: flex;
            .youtube_time__kor {
              margin-right: 0.2rem;
            }
            .youtube_time__inter {
              color: #9e5d69;
            }
          }
        }
      }
      .youtube_title {
        white-space: pre-line;
        overflow: hidden;
        font-size: 0.5rem;
      }
    }
  }
}
