$header-and-footer: var.$header-height + 0;

.wrap {
  min-height: calc(100dvh - #{$header-and-footer} - #{var.$env-top} - #{var.$env-bottom});
  position: relative;
}

.gridLoadingBox {
  width: 100%;
  height: util.calc-inner-height(100dvh);
  display: flex;
  justify-content: center;
  align-items: center;
}